/* ------------------------ Global styles definition ------------------------ */
body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Header styles ------------------------------ */
.logo {
  font-family: 'Raleway', 'Tahoma', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  font-weight: 500;
  color: #404bbf;
}
.underline:active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  color: #404bbf;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Hero styles -------------------------------- */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

/* -------------------------------------------------------------------------- */

/* --------------------------- Principles styles ---------------------------- */
.principles-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Team styles -------------------------------- */
.team-section {
  background-color: #f4f4fd;
}

/* .section-title {} */

.team-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
/* -------------------------------------------------------------------------- */

/* ---------------------------- Portfolio styles ---------------------------- */
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Footer styles ------------------------------ */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
/* -------------------------------------------------------------------------- */
